html{
    font-size: 62.2%;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}