   //colors
$off-black:#020222;
$dark-blue:#333745;
$off-white:#a5afd7;
$purple:#8F00FF;
$blue:#3c4251;
$light-blue:#464b5e;

   //spacing
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$s-size:1.2rem;
$desktop-breakpoint: 45rem;